
html,body{background:url('../image/bg.jpg');width:100%; min-width:100%; margin:0 auto;overflow-x:hidden;}
.title{width:100%;height:48px;font-size:24px;display: flex ;
flex-direction: row ;
flex-wrap: wrap ;
justify-content:space-around;
align-items: center ;
align-content: center ;
background-color: rgba(0,0,255,0.5);
box-shadow: 0px 5px 20px #000000;
position:fixed;
top:0px;
}
.title_next{height:48px;width:100%;}
fieldset {
    border-left:0px;
    border-right:0px;
    border-bottom-width: 0px;
    border-top: solid 2px #45b97c;
    width:100%;
    vertical-align: top;
    margin:10px 0px;
    text-align:center;
}
legend {
    width: 33%;
    font: bold 18px "Arial";
    color: #fff;
    border: solid 2px #45b97c;
    border-radius: 5px;
    background: rgba(0,0,0,0.3);
    }
fieldset table {width:100%;}
fieldset table tr th{text-align:center;}
fieldset table tr th img{display:block;margin:0 auto;}

.footer{width:100%;height:48px;display: flex ;
flex-direction: row ;
flex-wrap: wrap ;
justify-content:space-around;
align-items: center ;
align-content: center ;
background-color: rgba(0,0,255,0.5);
box-shadow: 0px 5px 20px #000000;
position:fixed;
bottom:0px;
}
.footer>div{padding:1px 9px;text-align:center;color:#4100ff;text-shadow:0px 2px 5px #ffffff;box-shadow:0px 0px 5px #ffffff;}